@model RentACarMVC.ViewModels.Viaje.ViajeFinishViewModel
@{
    ViewBag.Title = "Finish";
}

<h2>Suspender Viaje</h2>
<h3>¿Confirma que desea finalizar el viaje siguiente?</h3>
<hr />
@using (Html.BeginForm("Finish", "Viajes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m=>m.ViajeId);
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.MovilId)
                @Html.TextBoxFor(m => m.MovilId, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cliente)
                @Html.TextBoxFor(m => m.Cliente, new { @class = "form-control", @readonly = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FechaHoraSalida)
                @Html.TextBoxFor(m => m.FechaHoraSalida, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FechaHoraLlegada)
                @Html.TextBoxFor(m => m.FechaHoraLlegada, new { @Value = DateTime.Now.ToString(), @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Costo)
                @Html.TextBoxFor(m => m.Costo, new {  @class = "form-control"})
                @Html.ValidationMessageFor(m=>m.Costo,"",new {@class="text-danger"})
            </div>

            <div class="form-group">
                <button class="btn btn-warning" type="submit">Guardar</button>
                <a href="@Url.Action("Index", "Viajes")" class="btn btn-success">Volver</a>

            </div>

        </div>
    </div>
}
@section scripts
{
    <script>


    </script>

}