@model RentACarMVC.ViewModels.Modelo.ModeloEditViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Modelo</h2>
<hr />
@using (Html.BeginForm("Create", "Modelos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"",new{@class="text-danger"})
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.MarcaId)
                @Html.DropDownListFor(m => m.MarcaId, new SelectList(Model.Marcas,"MarcaId","NombreMarca"),"Seleccione Marca", new { @class = "form-control", autofocus="autofocus" })
                @Html.ValidationMessageFor(m => m.MarcaId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TipoId)
                @Html.DropDownListFor(m => m.TipoId,new SelectList(Model.Tipos,"TipoId","Descripcion"),"Seleccione Tipo", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TipoId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NombreModelo)
                @Html.TextBoxFor(m => m.NombreModelo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NombreModelo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a href="@Url.Action("Index", "Modelos")" class="btn btn-success">Volver</a>

            </div>

        </div>
        <div class="col-md-6">
            
            <div class="container">
                <h2>Foto del Model</h2>
                
                <div class="card" style="width:400px">
                    <img class="card-img-top" id="imgSalida"src="" alt="Imagen del Modelo" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">
                           
                            @if (Model.NombreModelo != null)
                            {
                                @Model.NombreModelo
                                
                            }
                        </h4>
                        <p class="card-text">Presione el botón para seleccionar una imagen</p>
                        <span class="form-control-file" id="file-input">
                            @Html.TextBoxFor(modelo => modelo.FotoFile, new { type = "file" })
                        </span>
                    </div>
                </div>
                <br>
  
            </div>

        </div>
    </div>

}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#file-input').change(function (e) {
                addImage(e);
            });

            function addImage(e) {
                var file = e.target.files[0],
                    imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(e) {
                var result = e.target.result;
                $('#imgSalida').attr("src", result);
            }

        });


    </script>

}

